body {
    background-color: #F2F2F2;
    font-size: 14px;
}

.card {
    position: absolute;
    width: 600px;
    height: 450px;
    left: 420px;
    top: 175px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    background-color: white;
}

#img-desktop {
    width: 50%;
    border-radius: 8px 0px 0px 8px;
}

.product-infos {
    margin-left: 32px;
    margin-right: 32px;

}

.category {
    margin-top: 32px;
    margin-bottom: 0px;
    height: 15px;

    /* Display */

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 5px;
    color: #6C7289;
}

h1 {
    height: 96px;
    margin-top: 20px;
    margin-bottom: 0px;

    /* Display */

    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    color: #1C232B;
}

.parfum-description {
    margin-top: 24px;
    margin-bottom: 0px;
    height: 92px;

    /* Display */

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 23px;
    color: #6C7289;
}

.pricetag {
    display: flex;
    flex-direction: row;
    gap: 19px
}

.price-sale {
    margin-top: 29px;
    margin-bottom: 0px;
    height: 32px;

    /* Display */

    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    color: #3D8168;
}

.price-old {
    margin-top: 34px;
    margin-bottom: 0px;
    height: 23px;
    left: 79.67%;
    right: 12.33%;
    top: calc(50% - 23px/2 + 99.5px);

    /* Display */

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 23px;
    text-decoration-line: line-through;
    color: #6C7289;
}

button {
    margin-top: 30px;
    width: 236px;
    height: 48px;
    background: #3D8168;
    border-radius: 8px;
    border: 0px;
    cursor: pointer;
}

.inner-btn {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    color: white;
}

button:hover {
    background-color: #1C232B; 
    color: white;
  }

@media only screen and (max-width: 375px) {
    .card {
        position: absolute;
        width: 343px;
        height: 611px;
        left: 16px;
        top: 28px;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        background-color: white;
    }

    #img-desktop {
        width: 343px;
        height: 240px;
        border-radius: 8px 8px 0px 0px;
    }

    .product-infos {
        margin-left: 24px;
        margin-right:24px;
    }

    .category {
        margin-top: 24px;
        margin-bottom: 0px;
        width: 124px;
        letter-spacing: 3px;
    }

    h1 {
        height: 64px;
        margin-top: 12px;
        margin-bottom: 0px;
    }

    .parfum-description {
        margin-top: 16px;
        margin-bottom: 0px;
        height: 92px;
    }

    .price-sale {
        margin-top: 24px;
        margin-left: 0,5px;
        margin-bottom: 0px;
    }

    button {
        margin-top: 30px;
        width: 295px;
        height: 48px;
        background: #3D8168;
        border-radius: 8px;
        border: 0px;
    }


    #img-desktop {
        align-self:flex-start;
       
    }

    .attribution {
        display: none;
        
    }
}